.header-StockCategory {
    background: linear-gradient(to right, #f1f1f0, #434343);
    padding: 0 20px;
    display: grid;
    grid-template-rows: 50px 50px;
    height: 120px;
    /* grid-template-columns: 1fr 1fr; */
  }
  .Row2{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    align-items: center;
  }
  .Select-Filter{
    width: 200px;

  }
  .form-container {
    max-height: 600px; /* กำหนดความสูงสูงสุด */
    overflow-y: auto; /* แสดงลูกกลิ้งเมื่อเนื้อหามากเกิน */
    padding: 10px; /* ปรับพื้นที่ด้านในตามต้องการ */
    background-color: #fff; /* เปลี่ยนสีพื้นหลังตามต้องการ */
    border-radius: 5px; /* มุมมน */
  }

  .filter-container {
   
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; /* ระยะห่างระหว่าง Select */
    align-items: center;
  }
  .date-range {
    display: flex; 
    justify-content: center;
    align-items: center; 
    border: 1px solid #ccc; 
    background-color: #ffffff;
    border-radius: 5px; 
    padding: 5px; 
    margin-left: 10px; 
    height: 30px; 
  }
  
  .Select-Filter .ant-select-item-option {
    transition: background-color 0.3s ease; /* เพิ่มการเปลี่ยนแปลงสี */
  }
  
  .Select-Filter .hover-option:hover {
    background-color: lightblue !important; /* เปลี่ยนสีพื้นหลังเป็นสีฟ้าเมื่อ hover */
  }
  
  .Select-Filter .cancel-option:hover {
    background-color: lightcoral !important; /* เปลี่ยนสีพื้นหลังเป็นสีแดงเมื่อ hover */
  }

  .custom-button {
    background-color: #928d8d; /* สีพื้นหลัง */
    /* border-color: #000000; สีกรอบ */
    color: white; /* สีตัวอักษร */
    width: 75px;
    border-radius: 8px;
  }
  
  .custom-button:hover {
    background-color: #474646 !important; /
  }

  .custom-table tr {
    height: 75px; /* ปรับระยะห่างระหว่าง row */
  }